/*
Theme Name: WordPressi
Author: Mario D
Description: Thème quémandé par le roy pour le compte du duché de Simplon.
Version: 1.0
*/

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: rgb(240, 227, 185);
}

header {
    font-size: 4rem;
    text-align: center;
    color: rgb(253, 173, 68);
    font-weight: bold;
    background-color: rgb(83, 38, 20);
    padding: 10px;
    text-transform: uppercase;
}

.home-link {
    text-decoration: none;
}

header:hover {
    color: rgb(247, 164, 55);
    background-color: rgb(63, 28, 13);
}

footer {
    position: absolute;
    bottom: -32px;
    font-size: 0.8rem;
    text-align: center;
    color: rgb(221, 208, 164);
    background-color: rgb(83, 38, 20);
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: rgb(255, 213, 155);
    font-weight: bold;
    background-color: rgb(99, 63, 33);
    padding: 7px;
    text-transform: uppercase;
    margin: 0;
}

.wrap {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

/* ********* Index ********* */
.beste {
    width: 40%;
    height: 260px;
    margin: 15px 5%;
    background-color: rgb(99, 63, 33);
}

.beste h2 {
    margin: 0;
    text-align: center;
    padding: 7px;
    color: rgb(255, 213, 155);
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.beste img {
    width: 100%;
    height: calc(100% - (1.5rem + 14px));
    object-fit: cover;
    border: solid 2px rgb(99, 63, 33);
    box-sizing: border-box;
}

.beste a {
    text-decoration: none;
}

.beste:hover {
    background-color: rgb(128, 87, 53);
}

.beste img:hover {
    border: solid 4px  rgb(128, 87, 53);
    border-top: solid 2px  rgb(128, 87, 53);
}

@media ( max-width: 720px) {
    .beste {
        width: 90%;
    }
}

/* ********* Infos ********* */
.infos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.big-img {
    width: 65%;
    object-fit: cover;
}

.infos {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.infos h4 {
    width: 100;
    color: rgb(253, 173, 68);
    font-weight: bold;
    background-color: rgb(83, 38, 20);
    padding: 4px 15px;
    margin: 0;
}

.proies {
    display: flex;
}

.infos p {
    margin-left: 20px;
}

.proies p {
    background-color: rgb(207, 196, 157);
    color: rgb(83, 38, 20);
    padding: 4px 6px;
}

.proies p:hover {
    background-color: rgb(218, 208, 172);
    color: rgb(92, 43, 24);
    font-weight: bold;
}

.proies a {
    text-decoration: none;
}

.noHover{
    pointer-events: none;
}

@media ( max-width: 920px) {
    .big-img, .infos {
        width: 100%;
    }
}